{% extends "templates/base.njk" %}
{% block body %}
  {% filter markdown %}
    # Tiny Threads

    [Contact Us](info@tinythreads.org)
    {# ## Mission Statement #}
    {# ## Primary Audience #}
    {# People who want to give or volunteer #}
    {# ## Secondary Audience #}
    {# People who want to receive - routing to graceworks #}


  {% endfilter %}
{% endblock %}
