{% import 'components/tt.njk' as library with context %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tiny Threads</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_content_prepend %}{% endblock head_content_prepend %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Bree+Serif" rel="stylesheet">
        <link rel="stylesheet" href="/styles/tt.css">
        <script src="/scripts/[your-main-script].js"></script>
        {% block head_content_append %}{% endblock head_content_append %}
    </head>
    <body>
        <div class="tt-page-shell">
            <header class="tt-page-shell__header">
                {{ library.header() }}
            </header>                
            <div class="tt-page-shell__content">
                <div class="tt-page-shell__content-inner">
                    {% block body %}{% endblock body %}
                </div>
            </div>
            <footer class="tt-page-shell__footer">
                {{ library.footer() }}
            </footer>
        </div>
        {% block closing_body_assets %}{% endblock closing_body_assets %}
    </body>
</html>
