{% extends 'templates/base.njk' %}
{% block head_content_prepend %}
    <style>
        html,
        body {
            color: darkorange;
            font-family: Georgia;
            font-size: 43px;
            font-style: italic;
            font-weight: bold;
            letter-spacing: 0.5em;
            line-height: 3.2;
            margin: 0;
            padding: 0;
            text-align: center;
            text-indent: 103px;
            text-transform: uppercase;
            text-shadow: 0 2px 1px red;
        }
    </style>
{% endblock %}
{% block body %}
    ESDS sink template default content.
{% endblock %}
